<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer-content">
        <h2>Keywatch</h2>
        <p>“Il ne faut jamais aller plus vite que sa vitesse.”</p>
        <ul class="socials">
            <li><a href="https://github.com/lchaboissier/keywatch"><i class="fa fa-github"></i></a></li>
        </ul>
        <div class="footer-bottom">
            <p>© Copyright 2022 - Keywatch Productions. Tous droits réservés.</p>
        </div>
    </div>    
</footer>