.back-button-form {
  margin-bottom: 2rem;
}

.form-addplayer-flex {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  margin: 5vh 5vh;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
.success-msg {
  color: #270;
  background-color: #DFF2BF;
  height: 35px;
}
  
  .full-width {
    width: 100%;
  }
  
  .submit-button-form {
    width: 100%;
  }

  .button-warn:hover {
    background-color: white;
    color: #f44336;
}