<body>
    <!-- <p class="p-center">Page d'accueil works! (à supprimer)</p> -->
        <section class="section-accueil-1 hero row">
            <div>
                <h1 class="title-accueil">Keywatch</h1>
                <p>
                    Le site pour les compétitifs
                </p>
                <a mat-raised-button color="warn" type="button" href="#presentation">En bas pour plus d'infos</a>
            </div>
            <div class="row">
                <img src="../../assets/images/keywatch_logo.png" class="logo" alt="Logo">
            </div>
        </section>
    <!-- <div class="accueil-content"> -->
        
        <section id="presentation" class="section-accueil-2 hero">
            <h2>— Présentation —</h2>
            <p class="text-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan lectus dignissim arcu interdum vestibulum. Vestibulum blandit diam at risus dignissim, nec tempor mauris posuere. Morbi interdum efficitur mi in maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum non imperdiet nisl. Donec interdum, dolor vitae vehicula commodo, felis nisi luctus quam, sed venenatis massa sem sed sapien. Vivamus ut ligula sit amet tortor tincidunt pretium. Fusce a pharetra turpis. Proin ornare sem a sagittis congue. Proin pulvinar diam at porta faucibus. Duis nec justo odio. Morbi quis sem mauris. Suspendisse potenti.</p>
        </section>
        <section class="section-accueil-3 hero">
            <h2>— Réglement —</h2>
            <p class="text-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan lectus dignissim arcu interdum vestibulum. Vestibulum blandit diam at risus dignissim, nec tempor mauris posuere. Morbi interdum efficitur mi in maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum non imperdiet nisl. Donec interdum, dolor vitae vehicula commodo, felis nisi luctus quam, sed venenatis massa sem sed sapien. Vivamus ut ligula sit amet tortor tincidunt pretium. Fusce a pharetra turpis. Proin ornare sem a sagittis congue. Proin pulvinar diam at porta faucibus. Duis nec justo odio. Morbi quis sem mauris. Suspendisse potenti.</p>
        </section>
        <section class="section-accueil-4 hero">
            <div>
                <h1 class="title-accueil">Rejoignez la course</h1>
            </div>
            <div>
                <p class="text-margin-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan lectus dignissim arcu interdum vestibulum. Vestibulum blandit diam at risus dignissim, nec tempor mauris posuere. Morbi interdum efficitur mi in maximus.</p>
                <p><button mat-raised-button color="warn" type="button" (click)="navigation('game')">Entrer dans la course</button></p>
            </div>
        </section>
    <!-- </div> -->
</body>
