*, html {
    scroll-behavior: smooth !important;
}

section {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.section-accueil-1 {
    height: 80vh;
    max-width: 90%;
    margin: 0 auto;
}

.hero {
    align-items: center;
}

.hero>* {
    flex-basis: 100%;
}

.hero h1 {
    font-size: clamp(3rem, 5vh, 5rem);
}

.hero p {
    font-size: 1.5rem;
}

.row {
    display: flex;
}

.logo img {
    max-width: 100%;
    padding: 0 1em;
}

.section-accueil-2 {
    height: 50%;
    display: block;
    background: rgb(218,76,66);
    background: linear-gradient(0deg, rgba(218,76,66,1) 0%, rgba(255,0,0,0.6082808123249299) 100%);
    background-size: cover;
    padding: 120px 0;
    text-align: center;
}

.section-accueil-2 h2 {
    color: white;
}

.section-accueil-2 p {
    color: white;
}

.section-accueil-3 {
    height: 50%;
    display: block;
    background-size: cover;
    padding: 120px 0;
    text-align: center;
}

.section-accueil-4 {
    height: 30vh;
    margin: 0 auto;
    background: rgb(218,76,66);
    background: linear-gradient(0deg, rgba(218,76,66,1) 0%, rgba(255,0,0,0.6082808123249299) 100%);
    background-size: cover;
    padding: 120px 0;
}

// .section-accueil-4 {
//     height: 50%;
//     background: rgb(218,76,66);
//     background: linear-gradient(0deg, rgba(218,76,66,1) 0%, rgba(255,0,0,0.6082808123249299) 100%);
//     background-size: cover;
//     padding: 120px 0;
//     max-width: 90%;

// }

.section-accueil-4 h1 {
    text-align: center;
    color: white;
}

.section-accueil-4 p {
    text-align: left;
    color: white;
}

// .section-accueil-4 button {
//     text-align: left;
//     color: white;
// }

.text-margin {
    line-height: 1.5;
    max-width: 60%;
    margin: 0 auto;
}

.text-margin-2 {
    max-width: 60%;
    line-height: 1.5;
}

.p-center {
    text-align: center;
}

button {
    margin-bottom: 2rem;
}

.button-warn:hover {
    background-color: white;
    color: #f44336;
}
